.arrow-container {
    width: 25.0em;
    height: 25.0em;
    display: table;
    margin: 0 auto;
    margin-top: 15%;
}

.keyboard-arrow {
    width: 8.2em;
    height: 8.2em;
    float: left;
    text-align: center;
}

.non-keyboard-arrow {
    width: 8.2em;
    height: 8.2em;
    float: left;
    text-align: center;
}

.keyboard-arrow-active {
    width: 8.2em;
    height: 8.2em;
    float: left;
    text-align: center;
    border-radius: 50%;
    background-color: grey;
}

.reset-button {
    margin-top: 30%;
    margin-left: 100%;
    position: relative;
}

/*.left {
    width: 25px;
    height: 25px;
    position: relative;
}

.right {
    width: 25px;
    height: 25px;
}

.up {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.down {
    width: 25px;
    height: 25px;
}*/