@keyframes fade-in-yellow {
  0% {
    background-color: grey;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes fade-in-red {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

@keyframes fade-in-grey {
  0% {
    background-color: red;
  }
  100% {
    background-color: grey;
  }
}

.current {
    margin-left: 45%;
    margin-top: 45%;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
