.player-container {
    margin: 0 auto;
    text-align: center;
}

.player {
  margin-left: 45%;
  margin-top: 45%;
  /*border-radius: 50%; */
  backface-visibility: hidden;
  width: 1.0em;
  height: 1.0em;
	background: green;
}

@keyframes left {
  0% {
    
    transform: translateZ(0) scale(1.0, 1.0) translateX(6.0em);
  }
  100% {
    transform: translateZ(0) scale(1.0, 1.0) translateX(0em);
  }
}

@keyframes right {
  0% {
    transform: translateX(-6.0em);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes down {
  0% {
    transform: translateY(-6.0em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes long {
   0%,100% { opacity: 1; }
   50% { opacity: 0; }
}

@keyframes up {
  0% {
    transform: translateY(6.0em);
  }
  100% {
    transform: translateY(0em);
  }
}
